.mainDiv{
    margin:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
.form{
    padding:20px;
    border:2px solid black ;
    width:800px;
}
.questlist{
    margin:30px;
}
.delete{
   float:right;
    color:red!important;
}
.text_area{
    width:800px!important;
    /* margin:20px;
    padding:20px; */
    margin-top: 20px;
    margin-bottom:20px;
}